.review {
	padding-bottom: 5px;
}
.panel-body.review-container{
	padding-top: 0;
}
.review-container{
	margin-bottom: 10px;
}
.reviewAuthor{
	margin: 0 5px;
}
.reviewTimestamp{
	color: #ccc;
}

.review p{
	margin: -5px 0 15px;
}

#filter {margin-left: 4px;}

.label {margin: 4px;}