extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1 AirLoft
                    small &nbsp; Explore available missions around you!
    .row
        .col-xs-12.col-sm-8
            .row.list-group
                .col-xs-12.list-group-item
                    h4
                        a(href='/mission') Nodejs Ninja
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 100m
                    p.author by Shunzhe Yu 
                    p
                        span.label.label-warning Nodejs
                        | &nbsp;
                        span.label.label-warning Javascript
                        | &nbsp;
                        span.label.label-warning Mongodb
                        | &nbsp;
                .col-xs-12.list-group-item
                    h4
                        a(href='/mission') Reactjs Ninja
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 60m
                    p.address by Shunzhe Yu
                    p
                        span.label.label-warning Nodejs
                        | &nbsp;
                        span.label.label-warning Javascript
                        | &nbsp;
                        span.label.label-warning Mongodb
                        | &nbsp;
                .col-xs-12.list-group-item
                    h4
                        a(href='/mission') Database Ninja
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                        span.badge.pull-right.badge-default 120m
                    p.address by Shunzhe Yu
                    p
                        span.label.label-warning NoSQL
                        | &nbsp;
                        span.label.label-warning Postgresql
                        | &nbsp;
                        span.label.label-warning Mongodb
                        | &nbsp;
        .col-xs-12.col-sm-4
            p.lead Looking for Missions to solve and friends to meet? AirLoft helps you explore similar minds around you!